project:
  type: book
  output-dir: docs
  resources:
    - "!**/Icon*"

license: "MIT"
  
lang: de


# crossref: 
#   custom: 
#     - kind: float
#       prefix: mod
#       name: Model
#       ref-type: mod
#     - kind: float
#       prefix: vid
#       name: Video
#       ref-type: vid


# filters:
  # - search-replace
  # - panelize
# search-replace:
#   z.B.  : "z.&thinsp;B."
#   #d.h.  : "d.&thinsp;h."
#   +br    : <br>\newline
  
  

book:
  title: "Start:Bayes!"
  author: 
    - name: Sebastian Sauer
      orcid: 0000-0003-1515-8348
  date: today
  reader-mode: true
  page-footer:
    border: true
    left: |
      Powered by [Quarto](https://quarto.org)
    center: |
      [Impressum](/imprint.qmd)
    right: |
      [Datenschutzhinweise](/data-privacy.qmd)
  
  #sidebar: 
    #logo: img/Golem_hex-small.png
  image: img/Golem_hex.png
  favicon: img/Golem_hex.png
  doi: 10.5281/zenodo.8279808
  repo-url: https://github.com/sebastiansauer/start-bayes
  repo-actions: [source, issue]
  
  chapters:
    - part: "Organisatorisches"
      chapters:
        - index.qmd
        # - 0100-Pruefung.qmd
    - part: "Grundlagen"
      chapters:
       - 0200-Inferenz.qmd
       - 0300-Wskt.qmd
       - 0350-wskt2.qmd
       - 0400-Verteilungen.qmd
    - part: "Bayes"
      chapters:
        - 0500-Globusversuch.qmd
        - 0600-Post.qmd
        # - 0700-ppv.qmd
    - part: "Lineare Modelle"
      chapters:
        - 0800-gauss.qmd
        - 0900-lineare-modelle.qmd
        - 1050-Schaetzen-Testen.qmd
        - 1000-metrische-AV.qmd
    # - part: "Kausalität"
    #   chapters:
    #     - 1150-konfundierung.qmd
    #     - 1180-kausalatome.qmd
    - part: Anhang
      chapters:
        - 1200-abschluss.qmd
        - definitions.qmd
        - theorems.qmd
        - references.qmd
        - imprint.qmd
        - data-privacy.qmd

bibliography: specifics/bib-local.bib
csl: specifics/apa7.csl

# website:
#   favicon: img/Albert_Einstein_head.jpg
#   open-graph: true
#   image: img/Albert_Einstein_head.jpg
#   google-analytics: G-1K43PN7CP3
#   cookie-consent: true
#   title: "Bayes:Start! Einführung in die Inferenz mit der Bayes-Methoden"
#   repo-url: https://github.com/sebastiansauer/start-bayes
#   repo-actions: [edit, issue]
 

editor: source
keep-md: false
prefer-html: true

execute: 
  freeze: auto 
  warning: false
  cache: true
  results: hold
  tidy: true
  # echo: true

code-annotations: hover


knitr:
  opts_knit:
    verbose: true
    fig-align: center
  opts_chunk: 
    collapse: true
    out.width: "75%"
    fig.align: center
    rows.print: 5
    # comment: "#>" 
    R.options:
      knitr. graphics.auto_pdf: true

format:
  html:
    toc: true
    toc-depth: 4
    css: specifics/styles.css
    theme:
      light: lumen
      dark: darkly
    # css: styles.css
    number-sections: true
    df-print: paged
    code-fold: true 
    fig-align: center
    code-link: true
    mermaid:
      theme: neutral
    lightbox: true
    #output-dir: _book-html

  # pdf:
  #   toc: false
  #   toc-depth: 2
  #   prefer-html: true
  #   number-sections: true
  #   colorlinks: false
  #   keep-tex: true
  #   geometry:
  #     - paperwidth=7in
  #     - paperheight=10in
  #   df-print: kable
  #   fig-align: center
  #   include-in-header:
  #   - specifics/style.tex
  #   mainfont: "Lora"
  #   sansfont: "Lato"
  #   monofont: "Roboto"
  #   pdf-engine: lualatex
  #   # cite-method: citeproc
  #   # section-refs-bibliography: bib/bib.bib
  #   documentclass: scrbook
  #   mermaid:
  #     theme: default
  #   out-width: 75%
  #   csquotes: true
  #   fig-asp: 0.7
  #   #fig-pos: "H"
  #   #output-dir: _book-pdf
  #   fig-format: png


